.Phrase1{
    background-image: url(./images/img\ 1.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;

}

.textA{
    text-align: center;
    color: white;
    padding: 100px 0px;
}

.textB{
    text-align: center;
    color: white;
    font-size: 0.75em;
    padding: 100px 0px;
}


.Phrase2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.75em;
    text-align: center;
}

.img{
    justify-content: center;
    margin-left: 50%;
}

.mouse{
    justify-content: center;
    margin-left: 50%;
    
}

.Phrase3{
background-image: url(./images/img\ 2.jpg);
background-repeat: no-repeat;
background-position: 100%;
background-size: cover;
/* height: 100vh;    */
}

.text2{
    text-align: center;
    color: white;
    font-size: 0.75em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 100px 0px;

}

.Phrase4{
    text-align: center;
}



.Phrase5{
    text-align: center;
}

.Phrase6{
    background-image: url(./images/img\ 3.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;

}

.text3{
    text-align: center;
    color: white;  
}



.Phrase7{
    text-align: center;
    
}

#floatingTextarea2{
    height: 250px!important;
}

.services1,.services2,.services3{
    display: none;
}
