.Phrase1{
    background-image: url(./images/img\ 1.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: 100vh;

}

.text{
    text-align: center;
    color: white;
}


.Phrase2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: center;
}

.img{
    justify-content: center;
    margin-left: 50%;
}

.mouse{
    justify-content: center;
    margin-left: 50%;
    
}