.Phrase1{
    background-image: url(./images/img\ 1.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: 100vh;

}

.text{
    text-align: center;
    color: white;
}


.Phrase2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.75em;
    text-align: center;
}

.img{
    justify-content: center;
    margin-left: 50%;
}

.mouse{
    justify-content: center;
    margin-left: 50%;
    
}

.Phrase3{
background-image: url(./images/img\ 2.jpg);
background-repeat: no-repeat;
background-position: 100%;
background-size: cover;
height: 100vh;   
}

.text2{
    text-align: center;
    color: white;
    font-size: 0.75em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}